<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kouxuan.bit_demo_android">
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".splash_test"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="警報">

        </activity>
        <activity
            android:name=".main.main_screen"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>


        <activity
            android:name=".DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Holo.Dialog"/>

        <activity
            android:name=".main.search_activity"
            android:label="搜尋">
        </activity>
        <activity
            android:name=".main.alarm_activity"
            android:label="即時訊息">
        </activity>
        <activity
            android:name=".main.history_activity"
            android:label="歷史資訊">
        </activity>
    </application>

</manifest>